@media (max-width:900px) {

  .hero-text h1 {
    font-size:38px;
  }

  .trust-grid {
    grid-template-columns:repeat(2,1fr);
  }

  .trip-grid {
    grid-template-columns:1fr;
  }
}

@media (max-width:768px) {

  .nav-menu {
    position:fixed;
    top:70px;
    right:-100%;
    background:white;
    width:100%;
    flex-direction:column;
    padding:30px 0;
    gap:20px;
    transition:.4s;
  }

  .nav-menu.active {
    right:0;
  }

  .hamburger {
    display:block;
  }

  .hero-text h1 {
    font-size:32px;
  }

  .hero-text p {
    font-size:16px;
  }

  .footer-grid {
    grid-template-columns:1fr;
    text-align:center;
  }
}
